@{
    ViewBag.Title = "Home Page";
}

<div style="margin: 50px 0;">
    <h2>SAR Search Assist</h2>
    <p class="lead">SAR Search Assist is a free, cross-platform tool that helps perform search operations.</p>
</div>
    
<div class="home-banner"></div>

<div class="section">

    <div class="header">
        <h2 class="lighter">Cross-Platform</h2>
    </div>

    <div style="margin: 10px;">
        SAR Search Assist uses the latest in Web and Mobile technologies to bring you a truly cross-platform experience.
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center">
                    <img src="~/Content/images/android_icon_128.png" alt="Android-icon" />
            </div>
            <div class="col-md-6 text-center">
                <img src="~/Content/images/ios_icon_128.png" alt="iOS-icon" />
            </div>
        </div>
    </div>
</div>
  
