@model SearchAreaWeb.Search.Models.CreateSearchFormModel

@{
    ViewBag.Title = "Search Home";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/libs/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Search/CreateSearchFormValidation.js")"></script>
}

<div class="jumbotron">
    <h3>Search</h3>
</div>

<div class="row">
    <form action="Search/Create" method="post" id="createSearchForm">
        <div class="form-group">
            <label for="searchName">Search name</label>
            <input name="Name" type="text" class="form-control" id="searchName" placeholder="Search name">
        </div>
        <div class="form-group">
            <label for="areaType">Area Type</label>
            <select name="AreaType" class="form-control" id="areaType">
                <option>Field</option>
                <option>Forest</option>
                <option>DenseForest</option>
                <option>Mountains</option>
            </select>
        </div>
        <div class="form-group">
            <label for="northeastLatitude">Northeast Latitude</label>
            <input name="NortheastLatitude" type="text" class="form-control" id="northeastLatitude" placeholder="Northeast corner longitude">
        </div>
        <div class="form-group">
            <label for="northeastLongitude">Northeast Longitude</label>
            <input name="NortheastLongitude" type="text" class="form-control" id="northeastLongitude" placeholder="Northeast corner longitude">
        </div>
        <div class="form-group">
            <label for="southwestLatitude">Southwest Latitude</label>
            <input name="SouthwestLatitude" type="text" class="form-control" id="southwestLatitude" placeholder="Northeast corner longitude">
        </div>
        <div class="form-group">
            <label for="southwestLongitude">Southwest Longitude</label>
            <input name="SouthwestLongitude" type="text" class="form-control" id="southwestLongitude" placeholder="Northeast corner longitude">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>   
</div>